@import '../scss/_variables';
@import '../scss/gradients';


.landing .page-header{
    font-weight: 300;
    margin: 30px;
    padding: 10px;
}

.subhead {
    @extend .gradient-primary;
    text-align: center;
}

.subhead .lead i{
    font-size: 20px;
}

.subhead .lead {
    color: white;
    margin: 30px;
    font-size: 24px;
}

section.improve {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 660px;
    .improve-svg {
        width: 180px;
        max-width: 100%;
    }
}
