.subhead {
    background: #2196f3;
    text-align: center;
}

.subhead .lead i{
    font-size: 20px;
}

.subhead .lead {
    color: white;
    margin: 30px;
    font-size: 24px;
}

section.improve {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    max-width: 675px;
}

.footer.footer--landing {
    background: #2196f3;
    color: white;
    text-align: center;
}
