@import "../scss/_variables";
@import "../scss/gradients";

section.hero {
  background: $brand-primary;

  header {
    padding-top: 30px;
  }
  nav {
    margin-top: 10px;
    float: right;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        color: #ffffff;
        margin-left: 30px;
      }
    }
  }
  .hero-content {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .hero-content-text {
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    h2 {
      color: #ffffff;
      font-size: 72px;
      margin: 30px 0;
      min-height: 240px;
      @media (min-width: 768px) {
        min-height: auto;
      }
    }
    p {
      font-size: 22px;
    }
  }
}

section.feature {
  margin-top: 80px;
  h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #333333;
    &:after {
      content: "";
      background: $brand-primary;
      width: 40px;
      height: 3px;
      display: block;
    }
  }
  p {
    font-size: 16px;
    line-height: 28px;

    color: #565656;
  }
}

section.join-us {
  background: #e4e4e4;
  padding: 30px 0;
  color: #333333;
  font-size: 18px;
  h4 {
    font-weight: bold;
  }
}
footer.landing {
  background: $gray-darker;
  padding: 30px 0;
  color: white;
}

.d-flex {
  display: flex;
  .flex-1 {
    flex: 1;
  }
  .align-center {
    align-items: center;
  }
}
