header,
footer,
input{
    display: none !important;
}
.note.well {
    border: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding: 5px;
}
.note .vote{
    opacity: 1!important;
}

.retro-board .highlight--3,
.retro-board .highlight--2{
    border-color: #eee;
    font-weight: normal;
}
