<head>
    <title>Remote Scrum - The Best Tool for Remote Retrospectives</title>
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="fragment" content="!">
    <meta name="description" content="The sprint retrospective meeting in Scrum is a time for the team to reflect on how they&#039;re doing and find ways to improve." />
    <meta name="keywords" content="Sprint Retrospective Meeting, Retrospective Meeting Scrum, Agile Sprint Retrospective, Scrum Retrospective, Retrospective Scrum, Retrospective" />
    <meta name="robots" content="index,follow,archive" />
    <!-- Open Graph data -->
    <meta property="og:title" content="Remote Scrum" />
    <meta property="og:description" content="The Best Tool for Remote Retrospectives" />
    <meta property="og:site_name" content="Remote Scrum" />
    <meta property="og:url" content="http://remotescrum.com" />
</head>
<template name="mainLayout">
    {{>Template.dynamic template=header}}
    <div class="container-fluid">
        {{>Template.dynamic template=content}}
    </div>
    {{>Template.dynamic template=footer}}
    {{> loginModal }}
    {{> registerModal }}
    {{> forgotModal }}
    {{> feedbackModal }}
</template>
