<head>
    <title> Retrospect </title>
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=1">
</head>
<template name="mainLayout">
    <nav class="navbar navbar-inverse navbar-retro navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor '/'}}">Retrospectives</a>
            </div>
            {{#if currentUser}}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Hey {{currentUser.profile.fullname}}!</a></li>
                <li><a href="#" class="logout">Logout</a></li>
            </ul>
            {{ else }}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a> </li>
                <li><a href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>
            </ul>
            {{/if}}
        </div>
    </nav>
    <div class="container-fluid">
        {{>Template.dynamic template=content}}
    </div>
    {{>Template.dynamic template=footer}}
    {{> loginModal }}
    {{> registerModal }}
</template>
