h4.board-title {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.note.well {
    word-wrap: break-word;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.note .vote{
    color: inherit;
    opacity: .75;
}
.note .vote:hover,
.note .vote.active{
    opacity: 1;
}

input.form-control.new-note {
    font-size: 14px;
}

.retro-board .highlight--1{
    border-color: #eee;
}

.retro-board .highlight--2{
    border-color: #ddd;
    font-weight: 500;
}

.retro-board .highlight--3{
    border-color: #ccc;
    font-weight: 600;
}
