@import '../scss/_variables';

h4.board-title {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.note.well {
    word-wrap: break-word;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 10px;
    transition: border-color .2s ease-in;
}
.note.well:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}
.note .vote{
    color: inherit;
}
.note .vote:hover,
.note .vote.active{
    color: $brand-info;
}

input.form-control.new-note {
    font-size: 14px;
}
.likes-section .glyphicon{
    top: 3px;
}

.retro-board .highlight--1{
    border-color: #eee;
    background-color: #f9f9f9;
}

.retro-board .highlight--2{
    border-color: #e2e2e2;
    background-color: #f3f3f3;
}

.retro-board .highlight--3{
    border-color: #ddd;
    background-color: #eee;
}
