h4.board-title {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.note.well {
    word-wrap: break-word;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

input.form-control.new-note {
    font-size: 14px;
}
