/* FULL SCREEN MODAL STYLES
-------------------------------------------------- */
.fullscreen .modal-dialog {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    color: #333;
}

.fullscreen .modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 0;
    color: #333;
    background: #f9f9f9;
    overflow:auto;
}

.fullscreen .modal-body p {
    color: #333;
    font-size: 300%;
}

@media (max-width: 480px){
    .fullscreen .modal-body ul {
        padding: 30px 0 0 0;
        overflow: auto;
    }

    .fullscreen .modal-body li {
        padding: 4px 0 4px 0 ;
    }

    .fullscreen .modal-body a {
        color: #333;
        font-size: 200%;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.fullScreenModalForm {
    max-width: 650px;
    margin: 0 auto;
}
