@import '../scss/_variables';

.footer.footer--landing {
    background: $brand-primary;
    color: white;
    text-align: center;
}

.footer.footer--landing a{
    color: white;
    text-decoration: none;
}
.footer.footer--landing a:hover {
    opacity: .8;
}
