@import '../scss/_variables';
@import '../scss/gradients';

.footer.footer--landing {
    @extend .gradient-primary;
    color: white;
    text-align: center;
}

.footer.footer--landing a{
    color: white;
    text-decoration: none;
}
.footer.footer--landing a:hover {
    opacity: .8;
}
